*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2b2d42;
}
/*-----------Menu----------------*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}

#navbar1{
    background:#212529;
}
.navbar-nav li {
    padding: 0 10px;
}
  
.navbar-nav li a {
    float: left;
    color: #ffffff;
}
#navbar1 ul li a:hover {
    color: black;
    height: fixed;
    background-color: #774936;
}
.nav-item:hover{
    background-color: #774936;
}
.navbar-toggler {
    border: 1px solid white;
}
.navbar-toggler-icon{
    color: white;
}
.nav-link {
    font-weight: 600;
    font-size: 16px;
}
